:root {
	--primary-color: #caabd5;
	--secondary-color: #6bc4ca;
	--tertiary-color: #83749f;
}

.no_style {
	text-decoration: none;
	color: inherit;
}

.accordion-button {
	background-color: transparent;
	/* Rimuove il background color del bottone dell'accordion */
	box-shadow: none;
	/* Rimuove eventuali ombre */
	border: none;
	/* Rimuove il bordo del bottone dell'accordion */
	outline: none;
	font-weight: 500;
	/* Rimuove l'outline predefinito al clic */
}

.accordion-button:not(.collapsed) {
	background-color: transparent;
	/* Rimuove il background color quando l'accordion è espanso */
}

.accordion-body {
	background-color: transparent;
	padding: 5px 8px 5px 8px;
	/* Rimuove il background color del corpo dell'accordion */
}

.accordion-item {
	border: none;
	/* Rimuove il bordo dell'accordion item, se necessario */
}

.accordion-header {
	border-bottom: none;
	/* Rimuove il bordo inferiore dell'accordion header */
}

.form-control {
	background-color: transparent;
}

/* popover utilities */
.popover-container {
	position: relative;
	display: inline-block;
}

.popover-button {
	padding: 8px;
	background-color: transparent;
	color: #333;
	border: none;
	cursor: pointer;
}

.popover-content {
	position: absolute;
	top: 70%;
	right: 10%;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-top: 8px;
	z-index: 1000;
	min-width: 150px;
}

.popover-content::before {
	content: "";
	position: absolute;
	top: -5px;
	right: 50%;
	transform: translateX(50%);
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent white transparent;
}

/* modal utilities */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	/* Sfondo scuro */
	backdrop-filter: blur(5px);
	/* Sfocatura dello sfondo */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-content {
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
	max-width: 500px;
	width: 95%;

	.date-picker {
		width: 155px;
	}
}

/* Assicurati che la mappa non copra gli altri elementi */
#map {
	z-index: 1;
	position: relative;
}

/* Assicurati che gli altri elementi abbiano un z-index superiore */
.date-picker {
	z-index: 2;
	position: relative;
}

/* :root {
	--primary-color: #93cbdc;
	--secondary-color: #0189bb;
	--tertiary-color: #d2e7ec;
} */

/* .main_section {
	width: 100vw;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-color: white;
	border-radius: 50px;
	margin: 0 auto;
	padding: 1.4rem;
	gap: 5px;
	text-align: center;

	background-color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
} */